html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("images/tetris.png"), radial-gradient(red, darkorange, darkorchid, limegreen);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    margin: auto;
    background-color: #6d6d6d;
}

main {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    width: 100%;
    position: sticky;
    z-index: 100;
}

#nbright {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li,
a {
    font-family: Arial;
    font-weight: 550;
    color: white;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;

}

.navbar {
    font-family: Arial;
    list-style: none;
    font-size: 12px;
    width: 100%;
    height: 50px;
}

#navbar-right {
    float: right
}

.navbar li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}


#start-button {
    background-color: red;
    text-shadow: 2px 2px black;
}

#start-button:active {
    color: white;
    background-color: black;
}

#start-button:focus {
    outline: 5px solid white;
}

button {
    padding: 20px 25px;
    background-color: rgb(156, 9, 175);
    border: none;
    border-radius: 50px;
    font-weight: 550;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(139, 102, 173);
}

button:active {
    background-color: aqua;
    color: black;
}

button:focus {
    outline: 5px solid aqua;
}

#buttonContainer {
    margin-top: 15px;
    /* position:fixed; */
}

#play-pause {
    visibility: hidden;
    position: relative;
}

#restart {
    /* display: none; */
    display: inline;
    /* visibility: hidden; */
    /* margin-top: 250px; */
}

#controls {
    position: relative;
    top: 3px;
}

p {
    line-height: 12px;
    font-weight: 900;
}

#mid-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.side-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: 270px;
    height: 500px;
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgb(0, 0, 0); */
    color: black;
}


/* contains the game */
.container {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}

/* main tetris grid */
.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c7c7c7;
    box-shadow: 5px 5px grey;
}

.grid div {
    height: 30px;
    width: 30px;
}

#grid-bg {
    position: absolute;
}

.grid1 {
    width: 345px;
}



/* next up grid */
.mini-grid {
    margin-left: 45px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c7c7c7;
    z-index: 0;
}

.mini-grid div {
    height: 30px;
    width: 30px;
}

#mini-grid-bg {
    position: absolute;
    margin-left: 45px;
    z-index: 1;
    height: 180px;
    width: 180px;
}

.grid2 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}



#indexWelcome {
    width: 300px;
    height: 0;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #c7c7c7;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 2px 2px black;
    box-shadow: 5px black;

}

#indexWelcome h1 {
    color: white;
}

#indexPlay {
    border-radius: 5px;
    padding: 8px 16px;
    background-color: red;
}

#registerForm {
    width: 300px;
    height: 600px;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #c7c7c7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 5px 5px rgb(100, 100, 100);
    font-size: 14px;
}

#registerForm h1 {
    font-family: Verdana;
    text-shadow: 1px 2px gray;
}

#formInputs br {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 200px;
    box-shadow: 2px 2px darkgrey;
    font-size: 14px;
}

input[type="radio"] {
    width: 10px;
    transform: scale(1.5);
    margin-left: 15px;
}


#formInputs a {
    text-decoration: underline;
    font-size: 18px;
    color: rgb(60, 95, 208);
}



input:focus::placeholder {
    color: #222;
    transition: color 0.3 ease;
}



#loginForm {
    width: 300px;
    height: 320px;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #c7c7c7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 5px 5px rgb(100, 100, 100);
    font-size: 14px;
}

#loginForm h1 {
    font-family: Verdana;
    text-shadow: 2px 1px gray;
}

#loginForm p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#loginInputs a {
    text-decoration: underline;
    font-size: 16px;
    color: rgb(60, 95, 208);
}

label {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #c7c7c7;
    box-sizing: border-box;
    box-shadow: 5px 5px grey;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    text-align: center;
    padding: 8px;
    background-color: blue;
}


#table {
    width: 500px;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #c7c7c7;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    border-spacing: 2px;

}


#lbNoData {
    font-family: Arial;
    width: 500px;
    height: 100px;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #c7c7c7;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 5px 5px rgb(100 100 100);
    font-size: 14px;

}

#lbNoData a {
    text-decoration: underline;
    font-size: 18px;
    color: rgb(60, 95, 208);
}